# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/
.env

# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
